/* Ocultar somente na interface */
th[data-col="presenca_teoria"], td[data-col="presenca_teoria"],
th[data-col="presenca_pratica"], td[data-col="presenca_pratica"],
th[data-col="nota_teoria"], td[data-col="nota_teoria"],
th[data-col="nota_pratica"], td[data-col="nota_pratica"],
th[data-col="status"], td[data-col="status"] {
    display: none !important;
}
