<br>
<div style="font-family: Arial, sans-serif; font-size: 12px; color: #555555;">
    <p>
        Atenciosamente,
        <br><br>
        <strong>Conecta SENAI</strong><br>
        SENAI | Conceição do Mato Dentro | Unidade José Aparecido de Oliveira<br>
        FIEMG - Federação das Indústrias de Minas Gerais<br>
        Cel: (31) 9 9408-0360<br>
        <a href="http://www.fiemg.com.br">www.fiemg.com.br</a>
    </p>
    <img src="cid:logo_assinatura" alt="Logo FIEMG" width="200">
    <hr style="border: none; border-top: 1px solid #dddddd; margin: 20px 0;">
    <p style="font-size: 9px; color: #888888;">
        A FIEMG não se responsabiliza por quaisquer falhas, inclusive omissões, existentes na mensagem ou que decorram de sua transmissão, bem como prejuízos provenientes de qualquer alteração do conteúdo. Tais ocorrências são da responsabilidade de seu autor e não refletem a opinião da empresa.
        <br><br>
        <em>FIEMG is not responsible for any failure, including omission, contained in the message or resulting from its transmission, as well as losses arising from any change in content. Such occurrences are of the author’s liability and do not reflect the opinion of the company.</em>
    </p>
</div>

