<!doctype html>
<html>
  <body style="font-family:Arial,Helvetica,sans-serif;">
    <h3>Assunto: Atualização de Agendamento de Turma</h3>
    <p>
        A turma indicada abaixo foi atualizada no sistema. Seguem os detalhes completos e atualizados:
    </p>
    <table border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: 100%;">
        <tr>
            <td style="background-color: #f2f2f2;"><strong>Treinamento:</strong></td>
            <td>{{ turma.treinamento.nome }}</td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2;"><strong>Turma:</strong></td>
            <td>{{ turma.nome }}</td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2;"><strong>Instrutor(a):</strong></td>
            <td>{{ turma.instrutor.nome if turma.instrutor else 'A definir' }}</td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2;"><strong>Período:</strong></td>
            <td>De {{ turma.data_inicio.strftime('%d/%m/%Y') }} a {{ turma.data_termino.strftime('%d/%m/%Y') }}</td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2;"><strong>Horário:</strong></td>
            <td>Das {{ turma.horario_inicio.strftime('%H:%M') }} às {{ turma.horario_fim.strftime('%H:%M') }}</td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2;"><strong>Local:</strong></td>
            <td>{{ turma.local }}</td>
        </tr>
        <tr>
            <td style="background-color: #f2f2f2;"><strong>Nº de Vagas:</strong></td>
            <td>{{ turma.capacidade_maxima }}</td>
        </tr>
    </table>
    <p>
        Por favor, verifique as alterações no portal.
    </p>
    {% include 'email/_signature.html.j2' %}
  </body>
</html>

