<!DOCTYPE html>
<html>
<head>
    <title>Alteração de Agendamento de Turma</title>
</head>
<body>
    <p>Olá,</p>
    <p>A turma do treinamento <strong>{{ dados_novos.treinamento_nome }}</strong> foi atualizada no sistema.</p>
    <p>Abaixo estão os detalhes antes e depois da alteração:</p>

    <h3 style="color:#005594;">Dados Antigos (Pré-alteração):</h3>
    <ul>
        <li><strong>Treinamento:</strong> {{ dados_antigos.treinamento_nome }}</li>
        <li><strong>Matriz do treinamento:</strong> {{ dados_antigos.treinamento_codigo }}</li>
        <li><strong>Data(s):</strong> {{ dados_antigos.periodo }}</li>
        <li><strong>Horário:</strong> {{ dados_antigos.horario }}</li>
        <li><strong>Carga horária:</strong> {{ dados_antigos.carga_horaria }} horas</li>
        <li><strong>Instrutor:</strong> {{ dados_antigos.instrutor_nome }}</li>
        <li><strong>Local de Realização:</strong> {{ dados_antigos.local_realizacao }}</li>
        <li><strong>Teoria Online?</strong> {% if dados_antigos.teoria_online %}Sim{% else %}Não{% endif %}</li>
        {% if dados_antigos.tem_pratica %}
            <li><strong>Prática:</strong> {{ dados_antigos.local_pratica }}</li>
        {% endif %}
    </ul>

    <h3 style="color:#005594;">Dados Novos (Pós-alteração):</h3>
    <ul>
        <li><strong>Treinamento:</strong> {{ dados_novos.treinamento_nome }}</li>
        <li><strong>Matriz do treinamento:</strong> {{ dados_novos.treinamento_codigo }}</li>
        <li><strong>Data(s):</strong> {{ dados_novos.periodo }}</li>
        <li><strong>Horário:</strong> {{ dados_novos.horario }}</li>
        <li><strong>Carga horária:</strong> {{ dados_novos.carga_horaria }} horas</li>
        <li><strong>Instrutor:</strong> {{ dados_novos.instrutor_nome }}</li>
        <li><strong>Local de Realização:</strong> {{ dados_novos.local_realizacao }}</li>
        <li><strong>Teoria Online?</strong> {% if dados_novos.teoria_online %}Sim{% else %}Não{% endif %}</li>
        {% if dados_novos.tem_pratica %}
            <li><strong>Prática:</strong> {{ dados_novos.local_pratica }}</li>
        {% endif %}
    </ul>

    {% include 'email/_signature.html.j2' %}
</body>
</html>
